@charset "UTF-8";
/*載入檔案區*/
/*斷點設置*/
/*列印用*/
/*IE 11*/
/*chrome 不含safari*/
/*但edge opera也會運作*/
@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  #selector {
    background-attachment: fixed;
  }
}
/*文字相關設定*/
/*文字單行+nowrap*/
/*文字基本設定--標題有襯線宋體*/
/*文字基本設定--內文黑體*/
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0 0;
}

h1 {
  font-family: "Playfair Display", serif, "Noto Serif TC", serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 500;
  color: #1f1f1f;
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #FFF;
}
@media all and (min-width: 48em) {
  h1 {
    font-size: 2rem;
  }
}
@media all and (min-width: 64em) {
  h1 {
    font-size: 2.25rem;
  }
}
@media all and (min-width: 116em) {
  h1 {
    font-size: 3.4rem;
    line-height: 1.5;
  }
}

h2 {
  font-family: "Poppins", sans-serif, "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 400;
  color: #1f1f1f;
  line-height: 1.5;
  letter-spacing: 0px;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0px;
  color: #FFF;
}
@media all and (min-width: 48em) {
  h2 {
    font-size: 3.5rem;
  }
}
@media all and (min-width: 64em) {
  h2 {
    font-size: 5rem;
  }
}
@media all and (min-width: 116em) {
  h2 {
    letter-spacing: -1.5px;
    font-size: 8rem;
  }
}

h3 {
  font-family: "Playfair Display", serif, "Noto Serif TC", serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 500;
  color: #1f1f1f;
  line-height: 1.5;
  font-size: 2.5rem;
  font-weight: 500;
}
@media all and (min-width: 48em) {
  h3 {
    font-size: 4.75rem;
    font-weight: 500;
  }
}

h4 {
  font-family: "Playfair Display", serif, "Noto Serif TC", serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 500;
  color: #1f1f1f;
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}
@media all and (min-width: 48em) {
  h4 {
    font-size: 2rem;
  }
}
@media all and (min-width: 116em) {
  h4 {
    letter-spacing: 4.5px;
  }
}

h5 {
  font-family: "Playfair Display", serif, "Noto Serif TC", serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 500;
  color: #1f1f1f;
  line-height: 1.5;
  font-size: 1.38rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.7;
}
@media all and (min-width: 80em) {
  h5 {
    font-size: 1.75rem;
  }
}

h6 {
  font-family: "Poppins", sans-serif, "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 400;
  color: #1f1f1f;
  line-height: 1.5;
  letter-spacing: 0px;
  font-size: 0.9375rem;
  font-weight: 400;
}

p {
  font-family: "Poppins", sans-serif, "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 400;
  color: #1f1f1f;
  line-height: 1.5;
  letter-spacing: 0px;
  font-size: 1.125rem;
  line-height: 2.2;
  letter-spacing: 0.5px;
}

.typoH1--phone {
  font-family: "Playfair Display", serif, "Noto Serif TC", serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 500;
  color: #1f1f1f;
  line-height: 1.5;
  font-size: 1.25rem;
  letter-spacing: 0.5px;
}

.lightSectionTit {
  color: #868686;
}

.typoWhiteTit {
  color: #FFF;
}

.typo-danger {
  color: #fa1107;
}

.typo-black {
  color: #1f1f1f !important;
}

.typo-underline {
  text-decoration: underline;
}

.typo-textAlignCenter {
  text-align: center;
}

/*基底通用設定*/
/*zdialog*/
.buttonStyle {
  width: 64px;
  height: 22px;
  line-height: 22px;
  color: #ad6c39;
  text-align: center;
  background: url(images/buticon.gif) no-repeat left top;
  border: 0.75em;
}
.buttonStyle:hover {
  background: url(images/buticon.gif) no-repeat left -23px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 100%;
  background-image: linear-gradient(90deg, #e6e6e6, 1px, transparent 0);
  background-size: 50% 1px;
}
@media all and (min-width: 80em) {
  body {
    background-size: 25% 1px;
  }
}

.bg {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 0;
  background: url(../images/bg.png) repeat;
}

@keyframes noise-ani {
  50% {
    background-position: 800px 600px;
  }
  100% {
    background-position: -800px -600px;
  }
}
a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  letter-spacing: 0.5px;
  color: #1f1f1f;
}

/*反白字體*/
::selection {
  background: #fa1107;
  color: #FFF;
}

/*按下無藍色框*/
/*無障礙focus用*/
/*scrollbar*/
::-webkit-scrollbar {
  width: 14px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #fa1107;
}

::-webkit-scrollbar-track {
  background: #e67817;
}

::-webkit-scrollbar-thumb:hover {
  background: #1f1f1f;
}

/*進度條*/	
/*頁面框架及常用設定*/
.max_width {
  width: 100%;
  margin: 0 auto;
}
@media all and (min-width: 116em) {
  .max_width {
    width: 102em;
  }
}

.com_width {
  width: 100%;
  margin: 0 auto;
}
@media all and (min-width: 64em) {
  .com_width {
    width: 58em;
  }
}

.clear {
  clear: both;
}

.overflow-hidden {
  overflow: hidden;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.ptb-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.plr-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.plr-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.plr-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.plr-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.pr-60 {
  padding-right: 60px !important;
}

.pr-80 {
  padding-right: 80px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-25 {
  padding-top: 25px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-25 {
  padding-bottom: 25px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.ptb-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.ptb-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.ptb-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.ptb-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-12 {
  margin-right: 12px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.ml-50 {
  margin-left: 50px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mlr-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.mlr-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.mlr-30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.mtb-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.mtb-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.mtb-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.mtb-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.mtb-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.mtb-60 {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}

.mtb-80 {
  margin-top: 80px !important;
  margin-bottom: 80px !important;
}

/*flex 排成一排列表*/
.phone-show {
  display: block !important;
}
@media all and (min-width: 64em) {
  .phone-show {
    display: none !important;
  }
}

/*列印隱藏區域*/
@media print {
  .print_hidden {
    display: none;
  }
}

/*按鈕部件*/
/*按鈕設置*/
/*第一款 基本大按鈕*/
.btnRedBt {
  width: 200px;
  height: 60px;
  line-height: 60px;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  display: block;
  position: relative;
  background: #e67817;
  position: relative;
}
.btnRedBt:hover {
  color: #FFF;
  background: #1f1f1f;
}

/*元素*/
/*頁面大標題*/
.eleh1TitBg {
  position: relative;
  z-index: 1;
  width: 75%;
  background: #e50000;
  mix-blend-mode: darken;
  overflow: hidden;
}
@media all and (min-width: 116em) {
  .eleh1TitBg {
    width: 50%;
    float: left;
  }
}
.eleh1TitBg .eleh1TitArea {
  width: 66.6%;
  float: right;
  background: #fa1107;
  display: flex;
  align-items: center;
  min-height: 112px;
  padding: 20px 10px 20px 20px;
}
@media all and (min-width: 48em) {
  .eleh1TitBg .eleh1TitArea {
    min-height: 146px;
    padding: 25px 30px 25px 20px;
  }
}
@media all and (min-width: 80em) {
  .eleh1TitBg .eleh1TitArea {
    padding: 25px 20px 25px 40px;
  }
}
@media all and (min-width: 116em) {
  .eleh1TitBg .eleh1TitArea {
    min-height: 232px;
    width: 50%;
    padding: 35px 30px 35px 50px;
  }
}

@keyframes eleTitAni {
  0% {
    opacity: 0;
    margin-left: -50%;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
/*區域功能標題*/
.eleSecTitArea {
  overflow: hidden;
}
@media all and (min-width: 116em) {
  .eleSecTitArea {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
}
@media all and (min-width: 116em) {
  .eleSecTitArea .eleSecTitEn, .eleSecTitArea .eleSecTitCh {
    writing-mode: vertical-lr;
  }
}
.eleSecTitArea .eleSecTitCh {
  margin: 0 auto 40px auto;
}
@media all and (min-width: 116em) {
  .eleSecTitArea .eleSecTitCh {
    margin: 0 0 0 0;
  }
}
.eleSecTitArea .eleSecTitCh .eleSecTitCh-icon {
  width: 32px;
  height: auto;
  vertical-align: -7px;
  margin: 0 10px 0 0;
}
@media all and (min-width: 116em) {
  .eleSecTitArea .eleSecTitCh .eleSecTitCh-icon {
    vertical-align: 0px;
    margin: 0 0 10px 0;
  }
}

/*照片跟比例外框*/
.eleImgBk {
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 56%;
  overflow: hidden;
}
.eleImgBk .eleImgBk-img {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  line-height: 0;
}

/*影片比例高度*/
.eleVideoBk {
  width: 100%;
  height: 100%;
  position: relative;
  /*padding top跟 bottom 的高度都是依據width來計算比例*/
  padding-bottom: 56%;
  overflow: hidden;
}
@media all and (min-width: 80em) {
  .eleVideoBk {
    padding-bottom: 45%;
  }
}
@media all and (min-width: 116em) {
  .eleVideoBk {
    padding-bottom: 93vh;
  }
}
.eleVideoBk iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.testBk {
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 56%;
  overflow: hidden;
  background: #1f1f1f;
}
.testBk .testBk-img {
  position: absolute;
  width: 100%;
  height: 100%;
}

/*分類選項跟麵包屑*/
.eleClassifyBitesBk {
  width: 75%;
  position: relative;
  z-index: 3;
}
@media all and (min-width: 116em) {
  .eleClassifyBitesBk {
    width: 25%;
    float: right;
  }
}

.eleClassify {
  width: 100%;
  height: 70px;
  line-height: 69px;
  background: #fa1107;
  border-top: 1px solid rgba(255, 255, 255, 0.24);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  display: none;
}
@media all and (min-width: 64em) {
  .eleClassify {
    display: block;
  }
}
.eleClassify:hover {
  background: #e50000;
}
.eleClassify .eleClassify-tit {
  width: 33.3%;
  color: #ffdfd4;
  background: #e50000;
  float: left;
  text-align: center;
}
@media all and (min-width: 48em) {
  .eleClassify .eleClassify-tit {
    text-align: left;
    padding: 0 0 0 30px;
  }
}
@media all and (min-width: 116em) {
  .eleClassify .eleClassify-tit {
    width: 25%;
  }
}
.eleClassify .eleClassify-selBt {
  color: #FFF;
  width: 66.6%;
  color: #ffdfd4;
  float: left;
  font-weight: 600;
}
@media all and (min-width: 48em) {
  .eleClassify .eleClassify-selBt {
    padding: 0 0 0 30px;
  }
}
@media all and (min-width: 116em) {
  .eleClassify .eleClassify-selBt {
    width: 75%;
  }
}
.eleClassify .eleClassify-selBt .icon {
  transition: all 0.5s ease-in-out;
  display: inline-block;
  float: right;
  font-size: 0.88em;
}

.eleClassify-sel {
  position: absolute;
  right: 0;
  width: 66.66%;
  height: auto;
  background: #fa1107;
  line-height: 60px;
  display: none;
  font-weight: 600;
}
@media all and (min-width: 48em) {
  .eleClassify-sel {
    width: 75%;
  }
}
.eleClassify-sel .eleClassify-sel--link {
  display: block;
  color: #FFF;
}
.eleClassify-sel .eleClassify-sel--link:hover {
  background: #1f1f1f;
}

/*麵包屑*/
.eleBite {
  width: 100%;
  min-height: 70px;
  background: #1f1f1f;
  cursor: pointer;
  padding: 22px 20px;
}
@media all and (min-width: 48em) {
  .eleBite {
    padding: 25px 30px;
  }
}
.eleBite .eleBite-link {
  vertical-align: middle;
  color: #e6e6e6;
  line-height: 1.5;
  font-weight: 600;
}
.eleBite .eleBite-link:last-of-type .icon {
  display: none;
}
.eleBite .eleBite-link:hover {
  color: #fa1107;
}

/*跳頁按鈕*/
.eleSelPageBk {
  width: 100%;
  margin: 0 auto 100px auto;
  text-align: center;
}

.eleSelPageArrow {
  width: 80px;
  height: 26px;
  display: inline-block;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  vertical-align: -5px;
  transform: scale(0.5);
}
@media all and (min-width: 48em) {
  .eleSelPageArrow {
    transform: scale(1);
  }
}

.eleSelPageArrow--left {
  background: url(../images/arrow-left.svg) no-repeat;
}
@media all and (min-width: 48em) {
  .eleSelPageArrow--left {
    margin-right: 30px;
  }
}
.eleSelPageArrow--left:hover {
  transform: translateX(-25px);
}

.eleSelPageArrow--right {
  background: url(../images/arrow-right.svg) no-repeat;
}
@media all and (min-width: 48em) {
  .eleSelPageArrow--right {
    margin-left: 30px;
  }
}
.eleSelPageArrow--right:hover {
  transform: translateX(25px);
}

.eleSelPageCount {
  width: 40px;
  height: 40px;
  background: #FFF;
  border: 1px solid #e6e6e6;
  text-align: center;
  display: inline-block;
  font-family: "Poppins", sans-serif, "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 400;
  color: #1f1f1f;
  line-height: 1.5;
  letter-spacing: 0px;
  line-height: 38px;
  font-size: 1.25rem;
}
@media all and (min-width: 48em) {
  .eleSelPageCount {
    width: 60px;
    height: 60px;
    line-height: 58px;
  }
}
.eleSelPageCount:hover {
  background: #fa1107;
  color: #ffffff;
  border: 1px solid #fa1107;
}

.eleSelPageCount--pageIn {
  background: #fa1107;
  color: #ffffff;
  border: 1px solid #fa1107;
}

/*附件下載*/
.eleDownloadBt {
  width: 100%;
  padding: 25px 30px 22px 40px;
  background: #fa1107;
  color: #FFF;
  display: block;
  font-size: 1.125rem;
  line-height: 1.8;
}
.eleDownloadBt:nth-last-of-type(2n) {
  background: #e50000;
}
.eleDownloadBt:hover {
  background: #e67817;
}
@media all and (min-width: 48em) {
  .eleDownloadBt {
    width: 50%;
  }
}
.eleDownloadBt .eleDownloadBt-tit {
  padding: 0 20px 0 0;
  font-family: "Playfair Display", serif, "Noto Serif TC", serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 500;
  color: #1f1f1f;
  line-height: 1.5;
  font-size: 1.19rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #ffdfd4;
}

.patheaderBk {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 4;
  overflow: hidden;
}

.patLogo {
  width: auto;
  display: block;
  float: left;
  margin: 20px 0 0 15px;
}
@media all and (min-width: 80em) {
  .patLogo {
    margin: 45px 0 0 15px;
  }
}
@media all and (min-width: 116em) {
  .patLogo {
    margin: 50px 0 0 0px;
  }
}
.patLogo:hover {
  opacity: 0.5;
}
.patLogo .patLogo-img {
  width: 48px;
  height: 48px;
  float: left;
}
@media all and (min-width: 80em) {
  .patLogo .patLogo-img {
    width: 60px;
    height: 60px;
  }
}
.patLogo .patLogo-name {
  float: left;
  color: #FFF;
  padding: 0 0 0 30px;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 48px;
}
@media all and (min-width: 80em) {
  .patLogo .patLogo-name {
    font-size: 1.19rem;
    line-height: 60px;
  }
}

.patheaderBt {
  float: right;
  margin: 15px 15px 0 0;
  cursor: pointer;
  border: 0;
  background: none;
  padding: 0;
}
.patheaderBt .patheaderBt-icon {
  width: 52px;
  height: 52px;
}
@media all and (min-width: 80em) {
  .patheaderBt .patheaderBt-icon {
    margin: 40px 0 0 20px;
    width: 70px;
    height: 70px;
  }
}
@media all and (min-width: 116em) {
  .patheaderBt .patheaderBt-icon {
    width: 85px;
    height: 85px;
    margin: 35px 0 0 0px;
  }
}

.patnavBk {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

.patnavBg {
  position: absolute;
  width: 0%;
  opacity: 0;
  height: 100%;
  background: #fa1107;
  border-right: 1px solid #e6e6e6;
  left: 0%;
}
.patnavBg:nth-child(1) {
  left: 0%;
}
.patnavBg:nth-child(2) {
  left: 25%;
}
.patnavBg:nth-child(3) {
  left: 50%;
}
.patnavBg:nth-child(4) {
  left: 75%;
}

.patnav {
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0;
  overflow: hidden;
  overflow-y: auto;
}

.patnav-head {
  width: 100%;
  overflow: hidden;
}
.patnav-head .patnav-head--logoImg {
  width: 48px;
  height: 48px;
  float: left;
  margin: 25px 0 0 20px;
}
@media all and (min-width: 80em) {
  .patnav-head .patnav-head--logoImg {
    margin: 50px 0 0 20px;
    width: 64px;
    height: 64px;
  }
}
.patnav-head .patnav-head--logoName {
  float: left;
  color: #1f1f1f;
  font-size: 1rem;
  font-weight: 700;
  padding: 0 0 0 20px;
  line-height: 98px;
  letter-spacing: 0.5px;
}
@media all and (min-width: 80em) {
  .patnav-head .patnav-head--logoName {
    font-size: 1.19rem;
    margin-top: 36px;
    padding: 0 0 0 30px;
  }
}
.patnav-head .patnav-head--navCloseBt {
  float: right;
  margin: 20px 20px 0 0;
  cursor: pointer;
  border: 0;
  background: none;
  padding: 0;
}
.patnav-head .patnav-head--navCloseBt .patnav-head--navCloseBt--icon {
  width: 52px;
  height: 52px;
}
@media all and (min-width: 80em) {
  .patnav-head .patnav-head--navCloseBt .patnav-head--navCloseBt--icon {
    margin: 30px 0 0 20px;
    width: 70px;
    height: 70px;
  }
}

.patnavSection {
  width: 100%;
}
@media all and (min-width: 48em) {
  .patnavSection {
    width: 25%;
    float: left;
  }
}
@media all and (min-width: 64em) {
  .patnavSection {
    padding: 0 0 0 20px;
  }
}
@media all and (min-width: 80em) {
  .patnavSection {
    padding: 0 0 0 90px;
  }
}

.patnavFirstArea {
  margin: 25px 0 0 20px;
}
.patnavFirstArea .patnavFirstArea-tit {
  display: block;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif, "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 400;
  color: #1f1f1f;
  line-height: 1.5;
  letter-spacing: 0px;
  color: #fa1107;
  font-size: 1.0625rem;
  font-weight: 500;
  letter-spacing: 1px;
}
.patnavFirstArea .patnavFirstArea-tit .patnavFirstArea-tit--icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  vertical-align: -12px;
}
.patnavFirstArea .patnavSecondArea {
  margin-left: 45px;
  margin-top: 20px;
  display: none;
  overflow: hidden;
}
@media all and (min-width: 48em) {
  .patnavFirstArea .patnavSecondArea {
    display: block;
  }
}
.patnavFirstArea .patnavSecondArea-li {
  list-style: none;
}
.patnavFirstArea .patnavSecondArea-link {
  font-family: "Poppins", sans-serif, "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 400;
  color: #1f1f1f;
  line-height: 1.5;
  letter-spacing: 0px;
  line-height: 42px;
  font-size: 1.03rem;
  font-weight: 400;
  padding: 5px;
  letter-spacing: 1px;
}
.patnavFirstArea .patnavSecondArea-link:hover {
  color: #fa1107;
  background: #eaeaea;
}
.patnavFirstArea .patnavSecondArea-link--actice {
  color: #fa1107;
  background: #eaeaea;
}

.patnavFirstArea--noIcon {
  margin-left: 70px;
}
@media all and (min-width: 48em) {
  .patnavFirstArea--noIcon {
    margin: 35px 0 0 20px;
  }
}
.patnavFirstArea--noIcon .patnavSecondArea--noIcon {
  margin-left: -5px;
}

.patSmlNav {
  width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -320px;
  z-index: 3;
  overflow-y: auto;
  background: #1f1f1f;
}
.patSmlNav .patSmlNav-closeBt {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
  background: #FFF;
}
.patSmlNav .patSmlNav-closeBt .patSmlNav-closeBt--img {
  width: 30px;
  height: 30px;
  margin: 10px 0 0 10px;
}

.patNavMenu {
  width: 100%;
  padding-top: 60px;
}
.patNavMenu .patNavMenu-list {
  margin: 0 0 15px 0;
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Playfair Display", serif, "Noto Serif TC", serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 500;
  color: #1f1f1f;
  line-height: 1.5;
  font-size: 1.0625rem;
  line-height: 35px;
  letter-spacing: 1.5px;
  color: #FFF;
}
.patNavMenu .patNavMenu-list:hover {
  opacity: 1;
}
.patNavMenu .patNavMenu-list--active {
  opacity: 1;
}
.patNavMenu .patNavMenu-icon {
  vertical-align: -4px;
  width: 20px;
  height: 20px;
  margin: 0 15px 0 0;
}
.patNavMenu .patNavMenu-secondList {
  width: 100%;
  padding: 0 30px 10px 96px;
  margin: 0;
}
.patNavMenu .patNavMenu-secondList:last-of-type {
  padding: 0 30px 20px 96px;
}
.patNavMenu .patNavMenu-viceLinkArea {
  background: #fa1107;
}
.patNavMenu .patNavMenu-viceLinkArea .patNavMenu-list {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.patBigNav--bg {
  display: none;
}
@media all and (min-width: 80em) {
  .patBigNav--bg {
    display: block;
    height: 180px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 95%);
    position: absolute;
    z-index: 2;
    width: 100%;
  }
}

/*footer*/
.patFooter {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 100px;
}
.patFooter .patFooter--tit, .patFooter .patFooter--link, .patFooter .patFooter--text {
  font-family: "Poppins", sans-serif, "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 400;
  color: #1f1f1f;
  line-height: 1.5;
  letter-spacing: 0px;
  display: block;
}
.patFooter .patFooter--link {
  display: inline-block;
  line-height: 26px;
  padding: 5px;
  font-weight: 400;
  font-size: 0.9375rem;
}
.patFooter .patFooter--link:hover {
  color: #fa1107;
  background: #eaeaea;
}
.patFooter .patFooter--text {
  line-height: 36px;
  font-weight: 400;
  font-size: 0.9375rem;
}
.patFooter .patFooter-logoArea .patFooter-logoArea--logo {
  width: 70px;
  height: 70px;
  float: left;
}
.patFooter .patFooter-logoArea .patFooter-logoArea--enName, .patFooter .patFooter-logoArea .patFooter-logoArea--chName, .patFooter .patFooter-logoArea .patFooter-logoArea--copyright {
  font-size: 1.25rem;
  width: calc(100% - 70px);
  float: right;
  padding: 0 0 0 25px;
}
.patFooter .patFooter-logoArea .patFooter-logoArea--chName {
  font-size: 0.9375rem;
  font-weight: 500;
  color: #868686;
  line-height: 1.1;
}
.patFooter .patFooter-logoArea .patFooter-logoArea--copyright {
  font-size: 0.9375rem;
  font-weight: 500;
  color: #adadad;
  letter-spacing: 0px;
}
.patFooter .patFooter-linkArea {
  margin-top: 50px;
  padding-left: 90px;
}
@media all and (min-width: 80em) {
  .patFooter .patFooter-linkArea {
    margin-top: 10px;
  }
}
.patFooter .patFooter--tit {
  letter-spacing: 0px;
  display: block;
  color: #fa1107;
  font-size: 0.9375rem;
}
.patFooter .patFooter-unitArea {
  margin-top: 80px;
  line-height: 30px;
  font-weight: 600;
  font-size: 0.9375rem;
}
.patFooter .patFooter-unitArea .patFooter-unitArea--gov {
  width: 100%;
  color: #ffdfd4;
  background: #fa1107;
  padding: 35px 20px;
}
@media all and (min-width: 48em) {
  .patFooter .patFooter-unitArea .patFooter-unitArea--gov {
    width: 65%;
    float: left;
  }
}
@media all and (min-width: 80em) {
  .patFooter .patFooter-unitArea .patFooter-unitArea--gov {
    width: 70%;
    padding: 35px 20px 30px 260px;
  }
}
.patFooter .patFooter-unitArea .patFooter-unitArea--contract {
  width: 100%;
  color: #adadad;
  background: #1f1f1f;
  padding: 35px 20px;
}
@media all and (min-width: 48em) {
  .patFooter .patFooter-unitArea .patFooter-unitArea--contract {
    width: 35%;
    float: left;
  }
}
@media all and (min-width: 80em) {
  .patFooter .patFooter-unitArea .patFooter-unitArea--contract {
    width: 30%;
    padding: 35px 20px 30px 110px;
  }
}
.patFooter .patFooter-unitArea .patFooter-unitArea--contract a {
  color: #adadad;
}
.patFooter .patFooter-unitArea .patFooter-unitArea--contract a:hover {
  text-decoration: underline;
}

.patLoading {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  background: #FFF;
}
.patLoading .patLoading-block {
  position: absolute;
  width: 0%;
  opacity: 1;
  height: 100%;
  background: #fa1107;
  border-right: 1px solid #FFF;
  left: 0%;
}
.patLoading .patLoading-block:nth-child(1) {
  left: 0%;
}
.patLoading .patLoading-block:nth-child(2) {
  left: 25%;
}
.patLoading .patLoading-block:nth-child(3) {
  left: 50%;
}
.patLoading .patLoading-block:nth-child(4) {
  left: 75%;
}

.indloadingHide {
  animation: loadingHideBgAni 0.5s 1s 1 normal forwards ease-in-out;
}

@keyframes loadingHideBgAni {
  0% {
    opacity: 1;
  }
  100% {
    background: none;
    opacity: 0;
  }
}
.indloadingHide-block {
  animation: loadingHideAni 1s 0s 1 normal forwards ease-in-out;
}

@keyframes loadingHideAni {
  0% {
    opacity: 1;
    width: 25%;
  }
  100% {
    width: 0%;
    opacity: 0;
  }
}
@media all and (min-width: 80em) {
  .patWrapper {
    margin: 0 0 0 0;
  }
}

.patMainbody {
  width: 100%;
}
@media all and (min-width: 64em) {
  .patMainbody {
    width: auto;
    margin-left: 320px !important;
  }
}
@media all and (min-width: 80em) {
  .patMainbody {
    margin-left: 320px !important;
  }
}

.patPrimary {
  width: 100%;
  padding: 15px 0;
}
@media all and (min-width: 48em) {
  .patPrimary {
    padding: 15px 15px;
  }
}
@media all and (min-width: 64em) {
  .patPrimary {
    padding: 30px 15px;
  }
}
@media all and (min-width: 116em) {
  .patPrimary {
    padding: 30px 35px;
  }
}

.patGrid25 {
  width: 100%;
  overflow: hidden;
}
@media all and (min-width: 48em) {
  .patGrid25 {
    width: 50%;
    float: left;
  }
}
@media all and (min-width: 80em) {
  .patGrid25 {
    width: 25%;
  }
}

.patPagePrimaryList {
  width: 100%;
  overflow: hidden;
  margin: 50px auto 0 auto;
}
@media all and (min-width: 48em) {
  .patPagePrimaryList {
    margin: 50px auto 120px auto;
  }
}

.patPagePrimaryContent {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.patPrimaryArticleWidth {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
@media all and (min-width: 48em) {
  .patPrimaryArticleWidth {
    width: 75%;
  }
}
@media all and (min-width: 80em) {
  .patPrimaryArticleWidth {
    width: 50%;
  }
}

.patPrimarySocialArea {
  width: 100%;
}
@media all and (min-width: 80em) {
  .patPrimarySocialArea {
    width: 50%;
    float: left;
  }
}

/*內頁banner*/
.patBannerArea {
  line-height: 0;
  position: relative;
  z-index: 2;
}
.patBannerArea .patBannerArea-Banner {
  animation: patbannerAni 0.6s 1.5s 1 normal forwards ease-in-out;
  object-fit: cover;
  object-position: 50% bottom;
  width: 100%;
  height: 60vh;
}
@media all and (min-width: 64em) {
  .patBannerArea .patBannerArea-Banner {
    height: 75.5vh;
  }
}
.patBannerArea .patBannerArea-layer {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 60vh;
  background: rgba(0, 0, 0, 0.4);
  mix-blend-mode: hue;
  animation: patbannerLayerAni 0.3s 1.5s 1 normal forwards ease-in-out;
}
@media all and (min-width: 64em) {
  .patBannerArea .patBannerArea-layer {
    height: 75.5vh;
  }
}
.patBannerArea .patBannerArea-titArea {
  position: absolute;
  z-index: 4;
  left: 0;
  right: 0;
  bottom: 0px;
}
.patBannerArea .patBannerArea-titArea .patBannerArea-tit {
  animation: patTitAni 0.5s 1.8s 1 normal forwards ease-in;
  opacity: 0;
  position: relative;
  z-index: 5;
  bottom: -12px;
  padding: 0 0 0 20px;
}
@media all and (min-width: 48em) {
  .patBannerArea .patBannerArea-titArea .patBannerArea-tit {
    bottom: -22px;
    padding: 0 0 0 40px;
  }
}
@media all and (min-width: 64em) {
  .patBannerArea .patBannerArea-titArea .patBannerArea-tit {
    bottom: -32px;
  }
}
@media all and (min-width: 116em) {
  .patBannerArea .patBannerArea-titArea .patBannerArea-tit {
    bottom: -52px;
    padding: 0 0 0 0;
  }
}

@keyframes patbannerAni {
  0% {
    object-position: 50% top;
  }
  100% {
    object-position: 50% 70%;
  }
}
@keyframes patbannerLayerAni {
  0% {
    background: rgba(0, 0, 0, 0.5);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}
@keyframes patTitAni {
  0% {
    opacity: 0;
    margin-bottom: -40px;
  }
  100% {
    opacity: 1;
    margin-bottom: 0px;
  }
}
/*首頁*/
.indBannerArea {
  overflow: hidden;
  line-height: 0;
  position: relative;
  z-index: 1;
}

.indBannerArea-Banner {
  background: url("../images/index-banner.png") no-repeat;
  width: 100%;
  height: 70vh;
  transform: scale(1.25);
  position: relative;
  background-position: center bottom;
  animation: bannerAni 0.5s 2.1s 1 normal forwards linear;
}
@media all and (min-width: 48em) {
  .indBannerArea-Banner {
    height: 85vh;
  }
}
@media all and (min-width: 64em) {
  .indBannerArea-Banner {
    height: 99vh;
  }
}

.indBannerArea-layer {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  mix-blend-mode: hue;
  animation: bannerLayerAni 0.5s 2.2s 1 normal forwards ease-in;
}

.indBannerArea-titArea {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: -13px;
  padding: 0 0 0 20px;
}
@media all and (min-width: 48em) {
  .indBannerArea-titArea {
    bottom: -23px;
  }
}
@media all and (min-width: 64em) {
  .indBannerArea-titArea {
    bottom: -35px;
  }
}
@media all and (min-width: 116em) {
  .indBannerArea-titArea {
    bottom: -52px;
  }
}
.indBannerArea-titArea .indBannerArea-tit {
  animation: TitAni 0.8s 2.5s 1 normal forwards ease-in-out;
  opacity: 0;
}

@keyframes bannerAni {
  0% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bannerLayerAni {
  0% {
    background: rgba(0, 0, 0, 0.5);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}
@keyframes TitAni {
  0% {
    opacity: 0;
    margin-bottom: -40px;
  }
  100% {
    opacity: 1;
    margin-bottom: 0px;
  }
}
.indIntro {
  width: 100%;
  padding: 40px 25px;
  line-height: 2.3;
}
@media all and (min-width: 48em) {
  .indIntro {
    width: 75%;
  }
}
@media all and (min-width: 116em) {
  .indIntro {
    width: 33em;
    float: right;
    margin: 55px 200px 70px 0;
  }
}
.indIntro span {
  font-weight: 500;
}

.indRelicsArea {
  width: 100%;
  margin: 30px auto 100px auto;
}
@media all and (min-width: 116em) {
  .indRelicsArea .indRelicsArea-tit {
    width: 25%;
    float: left;
    margin-top: 210px;
  }
}
@media all and (min-width: 116em) {
  .indRelicsArea .indRelicsArea-li {
    width: 75%;
    float: right;
  }
}

.indNewsArea {
  width: 100%;
  margin: 30px auto 100px auto;
}
@media all and (min-width: 116em) {
  .indNewsArea {
    margin: 140px auto 0 auto;
  }
}
@media all and (min-width: 116em) {
  .indNewsArea .indNewsArea-tit {
    width: 25%;
    float: right;
    margin-top: 130px;
  }
}
@media all and (min-width: 116em) {
  .indNewsArea .indNewsArea-li {
    width: 75%;
    float: left;
  }
}

.indMapArea {
  width: 100%;
  margin: 30px auto 100px auto;
}
@media all and (min-width: 116em) {
  .indMapArea {
    margin: 0 auto;
  }
}
@media all and (min-width: 116em) {
  .indMapArea .indMapArea-tit {
    width: 25%;
    float: right;
    margin-top: 300px;
  }
}
.indMapArea .indMapArea-map {
  height: 400px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
  overflow: hidden;
}
@media all and (min-width: 116em) {
  .indMapArea .indMapArea-map {
    width: 75%;
    float: left;
    border-top: none;
    height: 700px;
  }
}
.indMapArea .indMapArea-map--layer {
  background: #fa1107;
  width: 100%;
  height: 100%;
  position: absolute;
  animation: fadeOutDownBig 1.2s 1.5s normal 1 forwards ease-in-out;
}

/*模組區*/
/*文物典藏模組*/
.modRelicsli:nth-of-type(1) {
  animation-delay: 0.7s;
  animation-duration: 1.5s;
}
.modRelicsli:nth-of-type(2) {
  animation-delay: 1.1s;
  animation-duration: 1.5s;
}
.modRelicsli:nth-of-type(3) {
  animation-delay: 1.5s;
  animation-duration: 1.5s;
}
@media all and (min-width: 48em) {
  .modRelicsli {
    width: 33.33%;
    float: left;
  }
}
.modRelicsli .modRelicsli-img {
  transition: all 0.3s linear;
  background: #1f1f1f;
}
.modRelicsli .modRelicsli-titArea {
  background: #fa1107;
  padding: 30px 20px 30px 30px;
}
@media all and (min-width: 48em) {
  .modRelicsli .modRelicsli-titArea {
    padding: 30px 20px 30px 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
  }
}
@media all and (min-width: 80em) {
  .modRelicsli .modRelicsli-titArea {
    padding: 35px 20px 35px 40px;
  }
}
.modRelicsli .modRelicsli-titArea--classify {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #ffdfd4;
}
.modRelicsli .modRelicsli-titArea--name {
  color: #FFF;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.modRelicsli:hover .modRelicsli-img {
  opacity: 0.7;
}

/*消息模組*/
.modNewsli {
  border-top: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  background: #FFF;
  padding: 80px 50px;
  height: 450px;
  position: relative;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}
.modNewsli:last-of-type {
  border-bottom: 1px solid #e6e6e6;
}
.modNewsli:nth-of-type(1) {
  animation-delay: 0.9s;
  animation-duration: 0.8s;
}
.modNewsli:nth-of-type(2) {
  animation-delay: 1.1s;
  animation-duration: 0.8s;
}
.modNewsli:nth-of-type(3) {
  animation-delay: 1.3s;
  animation-duration: 0.8s;
}
.modNewsli:nth-of-type(4) {
  animation-delay: 1.5s;
  animation-duration: 0.8s;
}
.modNewsli:nth-of-type(5) {
  animation-delay: 1.7s;
  animation-duration: 0.8s;
}
.modNewsli:nth-of-type(6) {
  animation-delay: 1.9s;
  animation-duration: 0.8s;
}
.modNewsli:nth-of-type(7) {
  animation-delay: 2.1s;
  animation-duration: 0.8s;
}
.modNewsli:nth-of-type(8) {
  animation-delay: 2.3s;
  animation-duration: 0.8s;
}
.modNewsli:nth-of-type(9) {
  animation-delay: 2.5s;
  animation-duration: 0.8s;
}
.modNewsli:nth-of-type(10) {
  animation-delay: 2.7s;
  animation-duration: 0.8s;
}
.modNewsli:nth-of-type(11) {
  animation-delay: 2.9s;
  animation-duration: 0.8s;
}
.modNewsli:nth-of-type(12) {
  animation-delay: 3.1s;
  animation-duration: 0.8s;
}
@media all and (min-width: 48em) {
  .modNewsli {
    width: 33.33%;
    float: left;
    border-bottom: 1px solid #e6e6e6;
  }
}
@media all and (min-width: 116em) {
  .modNewsli {
    border-right: none;
    background: none;
  }
}
.modNewsli .modNewsli-classify, .modNewsli .modNewsli-tit, .modNewsli .modNewsli-date {
  position: relative;
  z-index: 2;
}
.modNewsli .modNewsli-classify {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fa1107;
}
.modNewsli .modNewsli-tit {
  height: 150px;
  overflow: hidden;
}
.modNewsli .modNewsli-date {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #868686;
  position: absolute;
  bottom: 80px;
}
.modNewsli .modNewsli-img {
  object-fit: fill;
  object-position: 50% 50%;
  position: absolute;
  opacity: 0;
  z-index: 1;
  width: auto;
  height: 100%;
  top: 0;
  left: 0%;
  transition: all 0.5s ease-in-out;
}
.modNewsli:hover .modNewsli-classify, .modNewsli:hover .modNewsli-tit, .modNewsli:hover .modNewsli-date {
  color: #FFF;
}
.modNewsli:hover .modNewsli-img {
  opacity: 1;
}

/*文章列表模組*/
.modArticleli {
  list-style: none;
  margin-bottom: 100px;
  padding: 0 20px;
}
@media all and (min-width: 48em) {
  .modArticleli {
    margin-bottom: 100px;
  }
}
@media all and (min-width: 80em) {
  .modArticleli {
    margin-bottom: 150px;
    padding: 0 30px;
  }
}
@media all and (min-width: 116em) {
  .modArticleli {
    padding: 0 40px;
    margin-bottom: 210px;
  }
}
@media all and (min-width: 48em) {
  .modArticleli:nth-of-type(2n) {
    margin-top: 100px;
    margin-bottom: 0px;
  }
}
@media all and (min-width: 80em) {
  .modArticleli:nth-of-type(2n) {
    margin-top: 150px;
  }
}
@media all and (min-width: 116em) {
  .modArticleli:nth-of-type(2n) {
    margin-top: 210px;
  }
}
.modArticleli:nth-of-type(1) {
  animation-delay: 0.25s;
  animation-duration: 1s;
}
.modArticleli:nth-of-type(2) {
  animation-delay: 0.5s;
  animation-duration: 1s;
}
.modArticleli:nth-of-type(3) {
  animation-delay: 0.75s;
  animation-duration: 1s;
}
.modArticleli:nth-of-type(4) {
  animation-delay: 1s;
  animation-duration: 1s;
}
.modArticleli:nth-of-type(5) {
  animation-delay: 1.25s;
  animation-duration: 1s;
}
.modArticleli:nth-of-type(6) {
  animation-delay: 1.5s;
  animation-duration: 1s;
}
.modArticleli:nth-of-type(7) {
  animation-delay: 1.75s;
  animation-duration: 1s;
}
.modArticleli:nth-of-type(8) {
  animation-delay: 2s;
  animation-duration: 1s;
}
@media all and (min-width: 48em) {
  .modArticleli {
    width: 50%;
    float: left;
  }
}
@media all and (min-width: 80em) {
  .modArticleli {
    width: 25%;
  }
}
.modArticleli .modArticleli-img {
  transition: all 0.3s linear;
}
.modArticleli .modArticleli-tit {
  color: #fa1107;
}
.modArticleli .modArticleli-text {
  color: #616161;
  line-height: 2;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.modArticleli:hover .modArticleli-img {
  transform: scale(1.2);
}
.modArticleli:hover .modArticleli-tit, .modArticleli:hover .modArticleli-text {
  color: #fa1107;
}

/*連結模組*/
.modLinkli {
  border-top: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  background: #FFF;
  padding: 50px 50px;
  height: 200px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}
.modLinkli:nth-of-type(1) {
  animation-delay: 0.9s;
  animation-duration: 0.8s;
}
.modLinkli:nth-of-type(2) {
  animation-delay: 1.1s;
  animation-duration: 0.8s;
}
.modLinkli:nth-of-type(3) {
  animation-delay: 1.3s;
  animation-duration: 0.8s;
}
.modLinkli:nth-of-type(4) {
  animation-delay: 1.5s;
  animation-duration: 0.8s;
}
.modLinkli:nth-of-type(5) {
  animation-delay: 1.7s;
  animation-duration: 0.8s;
}
.modLinkli:nth-of-type(6) {
  animation-delay: 1.9s;
  animation-duration: 0.8s;
}
.modLinkli:nth-of-type(7) {
  animation-delay: 2.1s;
  animation-duration: 0.8s;
}
.modLinkli:nth-of-type(8) {
  animation-delay: 2.3s;
  animation-duration: 0.8s;
}
.modLinkli:nth-of-type(9) {
  animation-delay: 2.5s;
  animation-duration: 0.8s;
}
.modLinkli:nth-of-type(10) {
  animation-delay: 2.7s;
  animation-duration: 0.8s;
}
.modLinkli:nth-of-type(11) {
  animation-delay: 2.9s;
  animation-duration: 0.8s;
}
.modLinkli:nth-of-type(12) {
  animation-delay: 3.1s;
  animation-duration: 0.8s;
}
.modLinkli:nth-of-type(13) {
  animation-delay: 3.3s;
  animation-duration: 0.8s;
}
.modLinkli:nth-of-type(14) {
  animation-delay: 3.5s;
  animation-duration: 0.8s;
}
.modLinkli:nth-of-type(15) {
  animation-delay: 3.7s;
  animation-duration: 0.8s;
}
.modLinkli:nth-of-type(16) {
  animation-delay: 3.9s;
  animation-duration: 0.8s;
}
@media all and (min-width: 48em) {
  .modLinkli {
    width: 33.33%;
    float: left;
  }
}
@media all and (min-width: 116em) {
  .modLinkli {
    width: 25%;
  }
}
.modLinkli .modLinkli-tit {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.modLinkli:hover .modLinkli-tit {
  color: #fa1107;
}

/*page*/
/*newsli*/
.pageNewsliPrimary {
  width: 100%;
  margin: 0 auto 120px auto;
  border-bottom: 1px solid #e6e6e6;
  overflow: hidden;
}
@media all and (min-width: 48em) {
  .pageNewsliPrimary {
    width: 100%;
  }
}

.pageNewsli {
  border-bottom: none;
}
.pageNewsli:last-of-type {
  border-bottom: none;
}
@media all and (min-width: 80em) {
  .pageNewsli {
    width: 25%;
    height: 420px;
  }
}

/*newsin*/
.pageNewsinDate {
  width: 75%;
  background: #e67817;
  color: #FFF;
  padding: 20px;
  margin-bottom: 40px;
}
@media all and (min-width: 116em) {
  .pageNewsinDate {
    width: calc( 25% - 1px );
    margin-left: calc(25% + 1px);
    margin-bottom: 0px;
    padding: 25px 50px;
  }
}

/*cultureli*/
.pageCultureliPrimary {
  width: 100%;
  margin: 0 auto 120px auto;
  border-bottom: 1px solid #e6e6e6;
  overflow: hidden;
}
@media all and (min-width: 48em) {
  .pageCultureliPrimary {
    width: 100%;
  }
}

.pageCultureList:nth-of-type(1) {
  animation-delay: 0.2s;
  animation-duration: 1.5s;
}
.pageCultureList:nth-of-type(2) {
  animation-delay: 0.4s;
  animation-duration: 1.5s;
}
.pageCultureList:nth-of-type(3) {
  animation-delay: 0.6s;
  animation-duration: 1.5s;
}
.pageCultureList:nth-of-type(4) {
  animation-delay: 0.8s;
  animation-duration: 1.5s;
}
.pageCultureList:nth-of-type(5) {
  animation-delay: 1s;
  animation-duration: 1.5s;
}
.pageCultureList:nth-of-type(6) {
  animation-delay: 1.2s;
  animation-duration: 1.5s;
}
.pageCultureList:nth-of-type(7) {
  animation-delay: 1.4s;
  animation-duration: 1.5s;
}
.pageCultureList:nth-of-type(8) {
  animation-delay: 1.6s;
  animation-duration: 1.5s;
}
.pageCultureList:nth-of-type(9) {
  animation-delay: 1.8s;
  animation-duration: 1.5s;
}
.pageCultureList:nth-of-type(10) {
  animation-delay: 2s;
  animation-duration: 1.5s;
}
.pageCultureList:nth-of-type(11) {
  animation-delay: 2.2s;
  animation-duration: 1.5s;
}
.pageCultureList:nth-of-type(12) {
  animation-delay: 2.4s;
  animation-duration: 1.5s;
}
@media all and (min-width: 48em) {
  .pageCultureList {
    width: 33.33%;
    float: left;
  }
}
@media all and (min-width: 80em) {
  .pageCultureList {
    width: 25%;
  }
}
.pageCultureList .pageCultureList-titArea {
  background: none;
  padding: 30px 20px 30px 30px;
}
@media all and (min-width: 48em) {
  .pageCultureList .pageCultureList-titArea {
    padding: 30px 20px 30px 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
  }
}
@media all and (min-width: 80em) {
  .pageCultureList .pageCultureList-titArea {
    padding: 35px 20px 35px 40px;
  }
}
.pageCultureList .pageCultureList-titArea .pageCultureList-titArea--classify {
  color: #fa1107;
}
.pageCultureList .pageCultureList-titArea .pageCultureList-titArea--name {
  color: #1f1f1f;
}

/*culturein*/
.pageCulinSectionArea {
  width: 100%;
  margin: 60px auto 0px auto;
  overflow: hidden;
}
@media all and (min-width: 116em) {
  .pageCulinSectionArea {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
  }
}
.pageCulinSectionArea .pageCulinSectionArea-titArea {
  width: 100%;
}
@media all and (min-width: 116em) {
  .pageCulinSectionArea .pageCulinSectionArea-titArea {
    width: 25%;
  }
}
.pageCulinSectionArea .pageCulinSectionArea-content {
  width: 100%;
}
@media all and (min-width: 116em) {
  .pageCulinSectionArea .pageCulinSectionArea-content {
    width: 75%;
  }
}
.pageCulinSectionArea .pageCulinSectionArea-content .owl-carousel img {
  width: 100%;
  height: auto;
  padding: 0 20px;
}
@media all and (min-width: 116em) {
  .pageCulinSectionArea .pageCulinSectionArea-content .owl-carousel img {
    width: 66.66%;
    padding: 0;
    float: left;
  }
}
.pageCulinSectionArea .pageCulinSectionArea-content .owl-carousel .pageCulinSectionArea-note {
  display: block !important;
}
@media all and (min-width: 116em) {
  .pageCulinSectionArea .pageCulinSectionArea-content .owl-carousel .pageCulinSectionArea-note {
    width: calc( 33.33% - 100px );
    float: left;
  }
}

.pageCulinVideoli {
  background: #fa1107;
  list-style: none;
  overflow: hidden;
}
.pageCulinVideoli:nth-of-type(1) {
  animation-delay: 0.4s;
  animation-duration: 1.2s;
}
.pageCulinVideoli:nth-of-type(2) {
  animation-delay: 0.8s;
  animation-duration: 1.2s;
}
.pageCulinVideoli:nth-of-type(3) {
  animation-delay: 1.2s;
  animation-duration: 1.2s;
}
.pageCulinVideoli:nth-of-type(2n) {
  background: #e50000;
}
@media all and (min-width: 48em) {
  .pageCulinVideoli {
    width: 50%;
    float: left;
  }
}
@media all and (min-width: 80em) {
  .pageCulinVideoli {
    width: 33.33%;
  }
}
.pageCulinVideoli .pageCulinVideoli-img {
  transition: all 0.3s linear;
}
.pageCulinVideoli .pageCulinVideoli-tit, .pageCulinVideoli .pageCulinVideoli-text {
  color: #ffdfd4;
}
.pageCulinVideoli .pageCulinVideoli-text {
  line-height: 2;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.pageCulinVideoli:hover .pageCulinVideoli-img {
  transform: scale(1.2);
}

/*文編內容*/
.textImg, .textImgNote {
  width: 100%;
  margin: 0 auto 50px auto;
}

.textImg {
  height: auto;
  padding: 0 20px;
}
@media all and (min-width: 80em) {
  .textImg {
    padding: 0 0 0 1px;
  }
}

.textImgNote {
  width: auto;
  display: inline-block;
  border-top: 5px solid #fa1107;
  font-family: "Playfair Display", serif, "Noto Serif TC", serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 500;
  color: #1f1f1f;
  line-height: 1.5;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.8;
  padding: 20px 0 0 0;
  margin: 0 20px;
}
@media all and (min-width: 80em) {
  .textImgNote {
    margin: 0 50px;
  }
}

.textArticleTit, .textArticleParagraph {
  margin: 50px auto;
  padding: 0 20px;
}
@media all and (min-width: 80em) {
  .textArticleTit, .textArticleParagraph {
    padding: 0 40px 0 50px;
  }
}

.textArticleTit {
  font-family: "Playfair Display", serif, "Noto Serif TC", serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 500;
  color: #1f1f1f;
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.8;
}

.textArticleParagraph {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2.15;
}