/*元素*/
/*頁面大標題*/
.eleh1TitBg
    position: relative
    z-index: 1
    width: 75%
    background: $main-color-700
    mix-blend-mode: darken
    overflow: hidden
    // margin-left: -50%
    // animation: eleTitAni 0.7s 2s 1 normal forwards ease-in
    // opacity: 0
    @include ipad
    @include computer
    @include maxcom-1920
        width: 50%
        float: left
    .eleh1TitArea
        width: 66.6%
        float: right
        background: $main-color
        display: flex
        align-items: center
        min-height: 112px
        padding: 20px 10px 20px 20px
        @include ipad
            min-height: 146px
            padding: 25px 30px 25px 20px
        @include maxcom
            padding: 25px 20px 25px 40px
        @include maxcom-1920
            min-height: 232px
            width: 50%
            padding: 35px 30px 35px 50px


@keyframes eleTitAni
    0%
        opacity: 0
        margin-left: -50%
    100%
        margin-left: 0
        opacity: 1


/*區域功能標題*/
.eleSecTitArea
    overflow: hidden
    @include maxcom-1920
        display: flex
        align-items: flex-end
        justify-content: center
    .eleSecTitEn,.eleSecTitCh
        @include maxcom-1920
            writing-mode: vertical-lr 
    .eleSecTitCh
        margin: 0 auto 40px auto
        @include maxcom-1920
            margin: 0 0 0 0
        .eleSecTitCh-icon
            width: 32px
            height: auto
            vertical-align: -7px
            margin: 0 10px 0 0
            @include ipad
                // width: 40px
            @include maxcom-1920
                vertical-align: 0px
                margin: 0 0 10px 0




/*照片跟比例外框*/
.eleImgBk
    width: 100%
    height: 100%
    position: relative
    padding-bottom: 56%
    overflow: hidden
    // background: $em-color
    .eleImgBk-img
        position: absolute
        width: 100%
        height: 100%
        border: none
        line-height: 0

/*影片比例高度*/
.eleVideoBk
    width: 100%
    height: 100%
    position: relative
    /*padding top跟 bottom 的高度都是依據width來計算比例*/
    padding-bottom: 56%
    overflow: hidden
    @include maxcom
        padding-bottom: 45%
    @include maxcom-1920
        padding-bottom: 93vh
        // padding-bottom: 38%
    iframe
        position: absolute
        width: 100%
        height: 100%


.testBk
    width: 100%
    height: 100%
    position: relative
    padding-bottom: 56%
    overflow: hidden
    background: $black
    //padding-bottom 跟absolute技巧不受box-sizing影響
    // box-sizing: content-box
    .testBk-img
        position: absolute
        width: 100%
        height: 100%
    

/*分類選項跟麵包屑*/
.eleClassifyBitesBk
    width: 75%
    position: relative
    z-index: 3
    @include maxcom-1920
        width: 25%
        float: right
        // position: absolute
        // bottom: 90px
        // right: 0
.eleClassify
    width: 100%
    height: 70px
    line-height: 69px
    background: $main-color
    border-top: 1px solid rgba(255,255,255,0.24)
    cursor: pointer
    transition: all 0.5s ease-in-out
    display: none
    @include computer
        display: block
    &:hover
        background: $main-color-700
    .eleClassify-tit
        width: 33.3%
        color: $main-color-100
        background: $main-color-700
        float: left
        text-align: center
        @include ipad
            text-align: left
            padding: 0 0 0 30px
        // @include maxcom
        //     width: 50%
        @include maxcom-1920
            width: 25%
    .eleClassify-selBt
        color: #FFF
        width: 66.6%
        color: $main-color-100
        float: left
        font:
            weight: 600
        @include ipad
            // width: 75%
            padding: 0 0 0 30px
        // @include maxcom
        //     width: 50%
        @include maxcom-1920
            width: 75%
        .icon
            transition: all 0.5s ease-in-out
            display: inline-block
            float: right
            font:
                size: $text-14
.eleClassify-sel
    position: absolute
    right: 0
    width: 66.66%
    height: auto
    background: $main-color
    line-height: 60px
    display: none
    font:
        weight: 600
    @include ipad
        width: 75%
    .eleClassify-sel--link
        display: block
        color: #FFF
        &:hover
            background: $black
/*麵包屑*/
.eleBite
    width: 100%
    min-height: 70px
    background: $black
    cursor: pointer
    padding: 22px 20px 
    @include ipad
        padding: 25px 30px 
    .eleBite-link
        vertical-align: middle
        color: $line-gray
        line-height: 1.5
        font:
            weight: 600
        &:last-of-type
            .icon
                display: none    
        &:hover
            color: $main-color


                
/*跳頁按鈕*/
.eleSelPageBk
    width: 100%
    margin: 0 auto 100px auto 
    text-align: center
.eleSelPageArrow
    width: 80px
    height: 26px
    display: inline-block
    border: none
    cursor: pointer
    transition: all 0.3s ease-in-out
    vertical-align: -5px
    transform: scale(0.5)
    @include ipad
        transform: scale(1)
.eleSelPageArrow--left
    background: url(../images/arrow-left.svg) no-repeat
    @include ipad
        margin-right: 30px
    &:hover
        transform: translateX(-25px)
.eleSelPageArrow--right
    background: url(../images/arrow-right.svg) no-repeat
    @include ipad
        margin-left: 30px
    &:hover
        transform: translateX(25px)
.eleSelPageCount
    width: 40px
    height: 40px
    background: #FFF
    border: $gray-line
    text-align: center
    display: inline-block
    @include typoBasic-notoSans
    line-height: 38px
    font:
        size: $text-20
    @include ipad
        width: 60px
        height: 60px
        line-height: 58px
    &:hover
        background: $main-color
        color: #ffffff
        border: 1px solid $main-color
.eleSelPageCount--pageIn
    background: $main-color
    color: #ffffff
    border: 1px solid $main-color

    
/*附件下載*/
.eleDownloadBt
    width: 100%
    padding: 25px 30px 22px 40px
    background: $main-color
    color: #FFF
    display: block
    font:
        size: $text-18
    line-height: 1.8
    &:nth-last-of-type(2n)
        background: $main-color-700
    &:hover
        background: $em-color
    @include ipad
        width: 50%
    .eleDownloadBt-tit
        padding: 0 20px 0 0
        @include typoBasic
        font:
            size: $text-19
            weight: 600
        letter-spacing: 1.5px
        color: $main-color-100
        // line-height: 1.7
        
