/*首頁*/
.indBannerArea
	overflow: hidden
	line-height: 0
	position: relative
	z-index: 1
	// background: url("../images/index-banner.png") no-repeat
.indBannerArea-Banner
	background: url("../images/index-banner.png") no-repeat
	width: 100%
	height: 70vh
	transform: scale(1.25)
	position: relative
	// background-attachment: fixed
	background-position: center bottom
	animation: bannerAni 0.5s 2.1s 1 normal forwards linear
	@include ipad
		height: 85vh
	@include computer
		height: 99vh
.indBannerArea-layer
	position: absolute
	z-index: 1
	width: 100%
	height: 100%
	background: rgba(0,0,0,0.5)
	mix-blend-mode: hue
	animation: bannerLayerAni 0.5s 2.2s 1 normal forwards ease-in
.indBannerArea-titArea
	// color: #ffffff
	position: absolute
	z-index: 2
	left: 0
	right: 0
	bottom: -13px
	padding: 0 0 0 20px
	@include ipad
		bottom: -23px
	@include computer
		bottom: -35px
	@include maxcom-1920
		bottom: -52px
	.indBannerArea-tit
		animation: TitAni 0.8s 2.5s 1 normal forwards ease-in-out
		opacity: 0
		// margin-bottom: -40px


@keyframes bannerAni
	0%
		transform: scale(1.25)
	100%
		transform: scale(1)


@keyframes bannerLayerAni
	0%
		background: rgba(0,0,0,0.5)
	100%
		background: rgba(0,0,0,0)


@keyframes TitAni
	0%
		opacity: 0
		margin-bottom: -40px
	100%
		opacity: 1
		margin-bottom: 0px

.indIntro
	width: 100%
	padding: 40px 25px
	line-height: 2.3
	@include ipad
		width: 75%
	@include maxcom-1920
		width: 33em
		float: right
		margin: 55px 200px 70px 0 
	span
		font:
			weight: 500

.indRelicsArea
	width: 100%
	margin: 30px auto 100px auto
	.indRelicsArea-tit
		@include maxcom-1920
			width: 25%
			float: left
			margin-top: 210px
	.indRelicsArea-li
		@include maxcom-1920
			width: 75%
			float: right



.indNewsArea
	width: 100%
	margin: 30px auto 100px auto
	@include maxcom-1920
		margin: 140px auto 0 auto
	.indNewsArea-tit
		@include maxcom-1920
			width: 25%
			float: right
			margin-top: 130px
	.indNewsArea-li
		@include maxcom-1920
			width: 75%
			float: left

.indMapArea
	width: 100%
	margin: 30px auto 100px auto
	@include maxcom-1920
		margin: 0 auto
	.indMapArea-tit
		@include maxcom-1920
			width: 25%
			float: right
			margin-top: 300px
	.indMapArea-map
		height: 400px
		border-top: $gray-line
		border-bottom: $gray-line
		position: relative
		overflow: hidden
		@include maxcom-1920
			width: 75%
			float: left
			border-top: none
			height: 700px
	.indMapArea-map--layer
		background: $main-color
		width: 100%
		height: 100%
		position: absolute
		// animation: indMapAni 0.8s 1s 1 normal forwards ease-in
		// animation-direction: reverse
		// animation-fill-mode: forwards
		// animation-delay: 0.5s
		animation: fadeOutDownBig 1.2s 1.5s normal 1 forwards ease-in-out
// @keyframes indMapAni
// 	0%
// 		opacity: 1
// 	30%
// 		// left: 0px
// 		opacity: 0.9
// 	100%
// 		// bottom: -100%
// 		height: 0%
// 		opacity: 0



		
// _::-webkit-full-page-media, _:future, :root .safari_only 
// 	.indBannerArea-Banner
// 		background-position: none none !important

// @media not all and (min-resolution:.001dpcm)
// 	@media
// 		.safari_only 
// 			background-position: none none !important

// @media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)
// 	@media
// 		.safari_only
// 			background-position: none none !important
			


