/*模組區*/
/*文物典藏模組*/
.modRelicsli
	@for $i from 1 through 3
		&:nth-of-type(#{$i})
			animation-delay: 0.3s + $i*0.4s
			animation-duration: 1.5s
	@include ipad
		width: 33.33%
		float: left
	.modRelicsli-img
		transition: all 0.3s linear
		background: $black
	.modRelicsli-titArea
		background: $main-color
		padding: 30px 20px 30px 30px
		@include ipad
			padding: 30px 20px 30px 20px
			border-right: 1px solid rgba(255,255,255,0.5)
		@include maxcom
			padding: 35px 20px 35px 40px
	.modRelicsli-titArea--classify
		@include typoNowrap
		color: $main-color-100
	.modRelicsli-titArea--name
		color: #FFF
		@include typoNowrap
	&:hover
		.modRelicsli-img
			// transform: scale(1.15)
			// mix-blend-mode: luminosity
			opacity: 0.7


/*消息模組*/
.modNewsli
	border-top: $gray-line
	border-right: $gray-line
	background: #FFF
	padding: 80px 50px
	height: 450px
	position: relative
	transition: all 0.5s ease-in-out 
	overflow: hidden
	&:last-of-type
		border-bottom: $gray-line	
	@for $i from 1 through 12
		&:nth-of-type(#{$i})
			animation-delay: 0.7s + $i*0.2s
			animation-duration: 0.8s
	@include ipad
		width: 33.33%
		float: left
		border-bottom: $gray-line	
	@include maxcom-1920
		border-right: none
		background: none
		// height: 470px
	.modNewsli-classify,.modNewsli-tit,.modNewsli-date
		position: relative
		z-index: 2
	.modNewsli-classify
		@include typoNowrap
		color: $main-color
	.modNewsli-tit
		height: 150px
		overflow: hidden
	.modNewsli-date
		@include typoNowrap
		color: $text-gray
		position: absolute
		bottom: 80px
	.modNewsli-img
		object-fit: fill
		object-position: 50% 50%
		position: absolute
		opacity: 0
		z-index: 1
		width: auto
		height: 100%
		top: 0
		left: 0%
		transition: all 0.5s ease-in-out 
	&:hover
		.modNewsli-classify,.modNewsli-tit,.modNewsli-date
			color: #FFF
		.modNewsli-img
			opacity: 1



/*文章列表模組*/
.modArticleli
	list-style: none
	margin-bottom: 100px
	padding: 0 20px
	@include ipad
		margin-bottom: 100px
	@include maxcom
		margin-bottom: 150px
		padding: 0 30px
	@include maxcom-1920
		padding: 0 40px
		margin-bottom: 210px
	&:nth-of-type(2n)
		@include ipad
			margin-top: 100px
			margin-bottom: 0px
		@include maxcom
			margin-top: 150px
		@include maxcom-1920
			margin-top: 210px
	@for $i from 1 through 8
		&:nth-of-type(#{$i})
			animation-delay: $i*0.25s
			animation-duration: 1s
	@include ipad
		width: 50%
		float: left
	@include maxcom
		width: 25%
	.modArticleli-img
		transition: all 0.3s linear
		// background: $main-color
	.modArticleli-tit
		color: $main-color
	.modArticleli-text
		color: $text-gray-700
		line-height: 2
		font:
			weight: 600
		// height: 40px
		overflow: hidden
		text-overflow: ellipsis
		display: -webkit-box
		-webkit-line-clamp: 3
		-webkit-box-orient: vertical
	&:hover
		.modArticleli-img
			transform: scale(1.2)
		.modArticleli-tit,.modArticleli-text
			color: $main-color



/*連結模組*/
.modLinkli
	border-top: $gray-line
	border-right: $gray-line
	background: #FFF
	padding: 50px 50px
	height: 200px
	transition: all 0.5s ease-in-out 
	overflow: hidden
	@for $i from 1 through 16
		&:nth-of-type(#{$i})
			animation-delay: 0.7s + $i*0.2s
			animation-duration: 0.8s
	@include ipad
		width: 33.33%
		float: left
	@include maxcom-1920
		width: 25%
	.modLinkli-tit
		overflow: hidden
		text-overflow: ellipsis
		display: -webkit-box
		-webkit-line-clamp: 2
		-webkit-box-orient: vertical
	&:hover
		.modLinkli-tit
			color: $main-color
		
