/*page*/
/*newsli*/
.pageNewsliPrimary
    width: 100%
    margin: 0 auto 120px auto
    border-bottom: $gray-line
    overflow: hidden
    @include ipad
        width: 100%


    
.pageNewsli
    border-bottom: none
    &:last-of-type
        border-bottom: none
    @include maxcom
        width: 25%
        height: 420px
        // width: 33.33%

// .pageNewsliBtArea
//     @include maxcom
//         width: 75%
//         float: left
//         overflow: hidden

/*newsin*/
.pageNewsinDate
    width: 75%
    background: $em-color
    color: #FFF
    padding: 20px
    margin-bottom: 40px
    @include maxcom-1920
        width: calc( 25% - 1px )
        margin-left: calc(25% + 1px)
        margin-bottom: 0px
        padding: 25px 50px
        // background: $black
         
    



/*cultureli*/
.pageCultureliPrimary
    width: 100%
    margin: 0 auto 120px auto
    border-bottom: $gray-line
    overflow: hidden
    @include ipad
        width: 100%

.pageCultureList
    @for $i from 1 through 12
        &:nth-of-type(#{$i})
            animation-delay: $i*0.2s
            animation-duration: 1.5s
    @include ipad
        width: 33.33%
        float: left
    @include maxcom
        width: 25%
    .pageCultureList-titArea
        background: none
        padding: 30px 20px 30px 30px
        @include ipad
            padding: 30px 20px 30px 20px
            border-right: 1px solid rgba(255,255,255,0.5)
        @include maxcom
            padding: 35px 20px 35px 40px
        .pageCultureList-titArea--classify
            color: $main-color
        .pageCultureList-titArea--name
            color: $black

/*culturein*/
.pageCulinSectionArea
    width: 100%
    margin: 60px auto 0px auto
    overflow: hidden
    @include maxcom-1920
        display: flex
        flex-wrap: nowrap
        align-items: baseline
    .pageCulinSectionArea-titArea
        width: 100%
        @include maxcom-1920
            width: 25%
    .pageCulinSectionArea-content
        width: 100%
        @include maxcom-1920
            width: 75%
        .owl-carousel
            img
                width: 100%
                height: auto
                padding: 0 20px 
                @include maxcom-1920
                    width: 66.66%
                    padding: 0  
                    float: left
            .pageCulinSectionArea-note
                display: block !important
                @include maxcom-1920
                    width: calc( 33.33% - 100px )
                    float: left
                        
.pageCulinVideoli
    background: $main-color
    list-style: none
    overflow: hidden
    @for $i from 1 through 3
        &:nth-of-type(#{$i})
            animation-delay: $i*0.4s
            animation-duration: 1.2s
    &:nth-of-type(2n)
        background: $main-color-700
    @include ipad
        width: 50%
        float: left
    @include maxcom
        width: 33.33%
    .pageCulinVideoli-img
        transition: all 0.3s linear
    .pageCulinVideoli-tit,.pageCulinVideoli-text
        color: $main-color-100
    .pageCulinVideoli-text
        line-height: 2
        font:
            weight: 600
        overflow: hidden
        text-overflow: ellipsis
        display: -webkit-box
        -webkit-line-clamp: 3
        -webkit-box-orient: vertical
    &:hover
        .pageCulinVideoli-img
            transform: scale(1.2)


