//網站框架

//header
.patheaderBk
	width: 100%
	position: fixed
	top: 0
	z-index: 4
	overflow: hidden

.patLogo
	width: auto
	display: block
	float: left
	margin: 20px 0 0 15px
	@include maxcom
		margin: 45px 0 0 15px
	@include maxcom-1920
		margin: 50px 0 0 0px
	&:hover
		opacity: 0.5
	.patLogo-img
		width: 48px 
		height: 48px
		float: left
		@include maxcom
			width: 60px 
			height: 60px
	.patLogo-name
		float: left
		color: #FFF
		padding: 0 0 0 30px
		font:
			size: $text-16
			weight: 600
		letter-spacing: 0.5px
		line-height: 48px
		@include maxcom
			font:
				size: $text-19
			line-height: 60px

.patheaderBt
	float: right
	margin: 15px 15px 0 0
	cursor: pointer
	border: 0
	background: none
	padding: 0
	.patheaderBt-icon
		width: 52px
		height: 52px
		@include maxcom
			margin: 40px 0 0 20px
			width: 70px 
			height: 70px
		@include maxcom-1920
			width: 85px 
			height: 85px
			margin: 35px 0 0 0px


.patnavBk
	width: 100%
	height: 100%
	overflow: hidden
	// background-image: linear-gradient(90deg, rgba(213,213,213,1), 1px, transparent 0) 
	// background-size: 480px 1px
	position: fixed
	top: 0
	left: 0
	z-index: -2

.patnavBg
	position: absolute
	// z-index: 1
	width: 0%
	opacity: 0
	height: 100%
	background: $main-color
	border-right: 1px solid rgba(230,230,230,1)
	left: 0%
	// @for $i from 1 through 3
	// 	&:nth-of-type(#{$i})
	// 		left: 25% * $i
	&:nth-child(1)
		left: 0%
	&:nth-child(2)
		left: 25% 
	&:nth-child(3)
		left: 50%
	&:nth-child(4)
		left: 75%
  

.patnav
	width: 100%
	height: 100%
	position: fixed
	opacity: 0
	overflow: hidden
	overflow-y: auto
.patnav-head
	width: 100%
	overflow: hidden
	.patnav-head--logoImg
		width: 48px 
		height: 48px
		float: left
		margin: 25px 0 0 20px
		@include maxcom
			margin: 50px 0 0 20px
			width: 64px 
			height: 64px
	.patnav-head--logoName
		float: left
		color: $black
		font:
			size: $text-16
			weight: 700
		padding: 0 0 0 20px
		line-height: 98px
		letter-spacing: 0.5px
		@include maxcom
			font:
				size: $text-19
			margin-top: 36px
			padding: 0 0 0 30px
	.patnav-head--navCloseBt
		float: right
		margin: 20px 20px 0 0
		cursor: pointer
		border: 0
		background: none
		padding: 0
		.patnav-head--navCloseBt--icon
			width: 52px
			height: 52px
			@include maxcom
				margin: 30px 0 0 20px
				width: 70px 
				height: 70px
			
.patnavSection
	width: 100%
	@include ipad
		width: 25%
		float: left
	@include computer
		padding: 0 0 0 20px
	@include maxcom
		padding: 0 0 0 90px

.patnavFirstArea
	margin: 25px 0 0 20px
	.patnavFirstArea-tit
		display: block
		letter-spacing: 1px
		@include typoBasic-notoSans
		color: $main-color
		font:
			size: $text-17
			weight: 500
		letter-spacing: 1px
		.patnavFirstArea-tit--icon
			width: 40px
			height: 40px
			margin-right: 10px
			vertical-align: -12px
	.patnavSecondArea
		margin-left: 45px 
		margin-top: 20px
		display: none
		overflow: hidden
		@include ipad
			display: block
	.patnavSecondArea-li
		list-style: none
	.patnavSecondArea-link
		@include typoBasic-notoSans
		line-height: 42px
		font:
			size: $text-16-5
			weight: 400
		padding: 5px 
		letter-spacing: 1px
		&:hover
			color: $main-color
			background: $text-gray-100
	.patnavSecondArea-link--actice
		color: $main-color
		background: $text-gray-100
.patnavFirstArea--noIcon
	margin-left: 70px 
	@include ipad
		margin: 35px 0 0 20px
	.patnavSecondArea--noIcon
		margin-left: -5px 

		






//手機視口navgation
.patSmlNav
	width: 320px
	height: 100%
	position: fixed
	top: 0
	left: -320px
	z-index: 3
	overflow-y: auto
	background: $black
	.patSmlNav-closeBt
		width: 50px 
		height: 50px
		position: absolute
		right: 0px
		top: 0px
		cursor: pointer
		background: #FFF
		.patSmlNav-closeBt--img
			width: 30px
			height: 30px
			margin: 10px 0 0 10px
			


		

//nav 功能連結
.patNavMenu
	width: 100%
	padding-top: 60px
	.patNavMenu-list
		margin: 0 0 15px 0
		display: block
		border-bottom: $gray-line-inBlack
		@include typoNowrap
		@include typoBasic
		font:
			size: $text-17
		line-height: 35px
		letter-spacing: 1.5px
		color: #FFF
		&:hover
			opacity: 1
	.patNavMenu-list--active
		opacity: 1
	.patNavMenu-icon
		vertical-align: -4px
		width: 20px
		height: 20px
		margin: 0 15px 0 0
	.patNavMenu-secondList
		width: 100%
		padding: 0 30px 10px 96px 
		margin: 0 
		&:last-of-type
			padding: 0 30px 20px 96px 
	.patNavMenu-viceLinkArea
		background: $color-danger
		.patNavMenu-list
			border-bottom: 1px solid rgba(255,255,255,0.4)





//電腦視口navgation
.patBigNav--bg
	display: none
	@include maxcom
		display: block
		height: 180px
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.7)0%, rgba(0, 0, 0, 0)95%)
		// position: absolute
		// z-index: 4
		// position: relative
		// margin: 0 auto -180px auto
		// margin-top: -180px
		position: absolute
		z-index: 2
		width: 100%
.patBigNav
	// position: relative
	// z-index: 2
	

/*footer*/
.patFooter
	width: 100%
	height: auto
	overflow: hidden
	margin-top: 100px
	@include maxcom
	.patFooter--tit,.patFooter--link,.patFooter--text
		@include typoBasic-notoSans
		display: block
	.patFooter--link
		display: inline-block
		line-height: 26px
		padding: 5px
		font:
			weight: 400
			size: $text-15
		&:hover
			color: $main-color
			background: $text-gray-100
	.patFooter--text
		line-height: 36px
		font:
			weight: 400
			size: $text-15
	.patFooter-logoArea
		.patFooter-logoArea--logo
			width: 70px
			height: 70px
			float: left
		.patFooter-logoArea--enName,.patFooter-logoArea--chName,.patFooter-logoArea--copyright
			font:
				size: $text-20
			width: calc(100% - 70px)
			float: right
			padding: 0 0 0 25px
		.patFooter-logoArea--chName
			font:
				size: $text-15
				weight: 500
			color: $text-gray
			line-height: 1.1
		.patFooter-logoArea--copyright
			font:
				size: $text-15
				weight: 500
			color: $text-gray-400
			letter-spacing: 0px
	.patFooter-linkArea
		margin-top: 50px
		padding-left: 90px
		@include maxcom
			margin-top: 10px
	.patFooter--tit
		letter-spacing: 0px
		display: block
		color: $main-color
		font:
			size: $text-15
	.patFooter-unitArea
		margin-top: 80px
		line-height: 30px
		font:
			weight: 600
			size: $text-15
		.patFooter-unitArea--gov
			width: 100%
			color: $main-color-100
			background: $main-color
			padding: 35px 20px
			@include ipad
				width: 65%
				float: left
			@include maxcom
				width: 70%
				padding: 35px 20px 30px 260px
		.patFooter-unitArea--contract
			width: 100%
			color: $text-gray-400
			background: $black
			padding: 35px 20px
			@include ipad
				width: 35%
				float: left
			@include maxcom
				width: 30%
				padding: 35px 20px 30px 110px
			a
				color: $text-gray-400
				&:hover
					text-decoration: underline
			

//頁面loading特效
.patLoading
	width: 100%
	height: 100%
	position: fixed
	z-index: 9999
	background: #FFF
	.patLoading-block
		position: absolute
		width: 0%
		opacity: 1
		height: 100%
		background: $main-color
		border-right: 1px solid#FFF
		left: 0%
		&:nth-child(1)
			left: 0%
		&:nth-child(2)
			left: 25% 
		&:nth-child(3)
			left: 50%
		&:nth-child(4)
			left: 75%

.indloadingHide
	animation: loadingHideBgAni 0.5s 1s 1 normal forwards ease-in-out
@keyframes loadingHideBgAni
	0%
		opacity: 1
	100%
		background: none
		opacity: 0

.indloadingHide-block
	animation: loadingHideAni 1s 0s 1 normal forwards ease-in-out
@keyframes loadingHideAni
	0%
		opacity: 1
		width: 25%
	100%
		width: 0%
		opacity: 0


//頁面結構框架
.patWrapper
	@include maxcom
		margin: 0 0 0 0
.patMainbody
	width: 100%
	@include computer
		width: auto
		margin-left: 320px !important
	@include maxcom
		margin-left: 320px !important

.patPrimary
	width: 100%
	padding: 15px 0
	@include ipad
		padding: 15px 15px
	@include computer
		padding: 30px 15px
	@include maxcom-1920
		padding: 30px 35px

.patGrid25
	width: 100%
	overflow: hidden
	@include ipad
		width: 50%
		float: left
	@include maxcom
		width: 25%

.patPagePrimaryList
	width: 100%
	overflow: hidden
	margin: 50px auto 0 auto
	@include ipad
		margin: 50px auto 120px auto

.patPagePrimaryContent
	width: 100%
	overflow: hidden
	// margin: 0 auto 100px auto
	margin: 0 auto 

.patPrimaryArticleWidth
	width: 100%
	margin: 0 auto
	overflow: hidden
	@include ipad
		width: 75%
	@include maxcom
		width: 50%

.patPrimarySocialArea
	width: 100%
	@include maxcom
		width: 50%
		float: left




//內頁結構框架
/*內頁banner*/
.patBannerArea
	// overflow: hidden
	line-height: 0
	position: relative
	z-index: 2
	.patBannerArea-Banner
		animation: patbannerAni 0.6s 1.5s 1 normal forwards ease-in-out
		object-fit: cover
		object-position: 50% bottom
		width: 100%
		height: 60vh
		@include ipad
		@include computer
			height: 75.5vh
	.patBannerArea-layer
		position: absolute
		z-index: 3
		width: 100%
		height: 60vh
		background: rgba(0,0,0,0.4)
		mix-blend-mode: hue
		animation: patbannerLayerAni 0.3s 1.5s 1 normal forwards ease-in-out
		@include computer
			height: 75.5vh
	.patBannerArea-titArea
		position: absolute
		z-index: 4
		left: 0
		right: 0
		bottom: 0px
		// @include ipad
		// 	bottom: -22px
		// @include computer
		// 	bottom: -32px
		.patBannerArea-tit
			animation: patTitAni 0.5s 1.8s 1 normal forwards ease-in
			opacity: 0
			position: relative
			z-index: 5
			bottom: -12px
			padding: 0 0 0 20px
			@include ipad
				bottom: -22px
				padding: 0 0 0 40px
			@include computer
				bottom: -32px
			@include maxcom-1920
				bottom: -52px
				padding: 0 0 0 0


@keyframes patbannerAni
	0%
		object-position: 50% top

	100%
		object-position: 50% 70%



@keyframes patbannerLayerAni
	0%
		background: rgba(0,0,0,0.5)
	100%
		background: rgba(0,0,0,0)


@keyframes patTitAni
	0%
		opacity: 0
		margin-bottom: -40px
	100%
		opacity: 1
		margin-bottom: 0px

