/*文編內容*/
.textImg,.textImgNote
	width: 100%
	margin: 0 auto 50px auto
	// @include ipad
	// 	width: 75%
	// @include maxcom
	// 	width: 70%
.textImg
	height: auto
	padding: 0 20px
	@include ipad
	@include maxcom
		padding: 0 0 0 1px
.textImgNote
	width: auto
	display: inline-block
	border-top: 5px solid $main-color
	@include typoBasic
	font:
		size: $text-18
		weight: 600
	line-height: 1.8 
	padding: 20px 0 0 0
	margin: 0 20px
	@include maxcom
		margin: 0 50px
.textArticleTit,.textArticleParagraph
	margin: 50px auto 
	padding: 0 20px
	// @include ipad
	// 	width: 82%
	@include maxcom
		// width: 67%
		padding: 0 40px 0 50px
.textArticleTit
	@include typoBasic
	font:
		size: $text-24
		weight: 600
	line-height: 1.8 
.textArticleParagraph
	font:
		size: $text-20
		weight: 400
	line-height: 2.15

