/*文字相關設定*/
/*文字單行+nowrap*/
@mixin typoNowrap
	overflow: hidden
	text-overflow: ellipsis
	white-space: nowrap


/*文字基本設定--標題有襯線宋體*/
@mixin typoBasic
	font:
		family: $text-style
		size: $text-16
		weight: 500
	color: $black
	line-height: 1.5

/*文字基本設定--內文黑體*/
@mixin typoBasic-notoSans
	font:
		family: $text-style-notoSans
		size: $text-16
		weight: 400
	color: $black
	line-height: 1.5
	letter-spacing: 0px


h1,h2,h3,h4,h5,h6
	margin: 0 0 0 0	

h1
	@include typoBasic
	font:
		size: $text-24
		weight: 600
	letter-spacing: 0.5px
	color: #FFF
	@include ipad
		font:
			size: $text-32
	@include computer
		font:
			size: $text-36
	@include maxcom-1920
		font:
			size: 3.4rem
		line-height: 1.5
		


h2
	@include typoBasic-notoSans
	font:
		size: 2rem
		weight: 700
	letter-spacing: 0px
	color: #FFF
	@include ipad
		font:
			size: 3.5rem
	@include computer
		font:
			size: 5rem
	@include maxcom-1920
		letter-spacing: -1.5px
		font:
			size: 8rem


h3
	@include typoBasic
	font:
		size: $text-40
		weight: 500
	@include ipad
		font:
			size: 4.75rem
			weight: 500

h4
	@include typoBasic
	font:
		size: $text-24
		weight: 600
	letter-spacing: 0.5px
	@include ipad
		font:
			size: $text-32
	@include maxcom-1920
		letter-spacing: 4.5px


h5
	@include typoBasic
	font:
		size: $text-22
		weight: 600
	letter-spacing: 1px
	line-height: 1.70
	@include maxcom
		font:
			size: $text-28
	// .icon
	// 	vertical-align: -2px
	// 	display: inline !important
	// 	width: auto !important

h6
	@include typoBasic-notoSans
	font:
		size: $text-15
		weight: 400

p
	@include typoBasic-notoSans
	font:
		size: $text-18
	line-height: 2.2
	letter-spacing: 0.5px




//手機板標題
.typoH1--phone
	@include typoBasic
	font:
		size: $text-20
	letter-spacing: 0.5px
	
	
.lightSectionTit
	color: $text-gray

.typoWhiteTit
	color: #FFF

.typo-danger
	color: $color-danger

.typo-black
	color: $black !important

.typo-underline
	text-decoration: underline

.typo-textAlignCenter
	text-align: center